body {
    margin: 0;
    background-color: 1B244A;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;   
    text-align: center;   
}

.score {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    
    text-align: center;
    
    color: #F94F6D;
}